.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.users {
    padding: 10px;
}

.dialog {
    padding: 10px;
    display: grid;
    grid-template-columns: 3fr 9fr;
}

.button {
    padding: 20px;
}

.item {
    text-align: right;
}